<section id="hero">
    <div class="inner-banner" style="background-image:url(./../../../../../../assets/front/images/doc.jpg)">
        <div class="container">
            <h3 class="title"> <br>Documents <strong> administratifs</strong></h3>
        </div>
    </div>
</section>

<section class="main-section">

    <div class="faqs">
        <div class="container">
            <div class="row">
                <div class="section-title col-12">
                    <h2><span>Documents administratifs </span></h2>
                    <p>Documents administratifs pour les Etudiants et Ensiegnant </p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-lg-12">
                    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingTwo_1">
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion_1" href="#collapseTwo_1" aria-expanded="false"
                                        aria-controls="collapseTwo_1">Documents administratifs pour les Etudiants</a>
                                </h4>
                            </div>
                            <div id="collapseTwo_1" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo_1">
                                <div class="panel-body">
                                    <li><a href="./../../../../../../assets/front/pdf/dem_attes_pre_ar.pdf"
                                            target="-blank"> Demande d'attestation de présence
                                        </a></li>
                                    <li><a href="docs/dem_all_fam.pdf"> Demande de Vérification de notes
                                            familiales </a></li>
                                    <li><a
                                            href="./../../../../../../assets/front/pdf/Attestation Cursus Universitaire FC Prom3.pdf" target="_blank">
                                            Demande d'attestation de cursus </a></li>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="true"
                                        aria-controls="collapseOne_1">Documents administratifs pour les Ensiegnant</a>
                                </h4>
                            </div>
                            <div id="collapseOne_1" class="panel-collapse collapse in show" role="tabpanel"
                                aria-labelledby="headingOne_1">
                                <div class="panel-body">

                                    <ul class="">
                                        <li><a href="docs/dem_attes_repr.pdf"> Demande reprise
                                                de fonction </a></li>
                                        <li><a href="docs/dem_belt_rens.pdf"> Demande bulletin
                                                de renseignement </a></li>
                                        <li><a href="docs/dem_auto_vac.pdf"> Demande
                                                d'autorisation de vacation </a></li>
                                        <li><a href="docs/dem_attes_travail.pdf"> Demande
                                                d'attestion de travail </a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>