<div class="body">

    <div class="container">
        <header>Créer un compte</header>

        <form [formGroup]="registerForm" (submit)="registerStudent()">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Détails personnels</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nom</label>
                            <input type="text" placeholder="Entrer votre nom" formControlName="lastname">
                            <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                                <small *ngIf="lastname?.errors?.['required']" class="text-danger">
                                    Le nom est obligatoire.
                                </small>
                                <small *ngIf="lastname?.errors?.['pattern']" class="text-danger">
                                    Le nom est inccorect
                                </small>
                          
                                <small *ngIf="lastname?.errors?.['minlength']" class="text-danger">
                                    Le nom doit comporter au moins 4 caractères.
                                </small>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Prénom</label>
                            <input type="text" placeholder="Entrer votre prenom" formControlName="firstname">
                            <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                                <small *ngIf="firstname?.errors?.['required']" class="text-danger">
                                    Le prenom est obligatoire.
                                </small>
                                <small *ngIf="firstname?.errors?.['pattern']" class="text-danger">
                                    Le nom est inccorect
                                </small>
                                <small *ngIf="firstname?.errors?.['minlength']" class="text-danger">
                                    Le nom doit comporter au moins 4 caractères.
                                </small>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Date de naissance</label>
                            <input type="date" placeholder="Entrer le date de naissance" formControlName="date">
                            <div *ngIf="date?.invalid && (date?.dirty || date?.touched)">
                                <small *ngIf="date?.errors?.['required']" class="text-danger">
                                    Date est obligatoire.
                                </small>
                            
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Lieu de naissance</label>
                            <input type="text" placeholder="Entrer le lieu de naissance"
                                formControlName="lieu_naissance">
                                <div *ngIf="lieu_naissance?.invalid && (lieu_naissance?.dirty || lieu_naissance?.touched)">
                                    <small *ngIf="lieu_naissance?.errors?.['required']" class="text-danger">
                                        Lieu de naissance est obligatoire.
                                    </small>
                                    <small *ngIf="lieu_naissance?.errors?.['pattern']" class="text-danger">
                                        Lieu de naissance est inccorect
                                    </small>
                                
                                </div>
                        </div>


                        <div class="input-field">
                            <label>Carte d'identité</label>
                            <input type="text" placeholder="Entrer le Carte d'identité"  formControlName="cin">
                            <div *ngIf="cin?.invalid && (cin?.dirty || cin?.touched)">
                                <small *ngIf="cin?.errors?.['required']" class="text-danger">
                                    Le cin est obligatoire.
                                </small>
                                <small *ngIf="cin?.errors?.['max']" class="text-danger">
                                    Le cin doit comporter au moins 8 caractères.
                                </small>
                                <small *ngIf="cin?.errors?.['min']" class="text-danger">
                                    Le cin doit comporter au moins 8 caractères.
                                </small>

                            </div>
                        </div>


                        <div class="input-field">
                            <label>Numéro d'inscription</label>
                            <input type="number"  placeholder="Entrer le numéro d'inscription"
                                formControlName="num_ins" >
                            <div *ngIf="num_ins?.invalid && (num_ins?.dirty || num_ins?.touched)">
                                <small *ngIf="num_ins?.errors?.['required']" class="text-danger">
                                    Le num est obligatoire.
                                </small>
                                <small *ngIf="num_ins?.errors?.['max']" class="text-danger">
                                    Le num doit comporter au moins 8 caractères.
                                </small>
                                <small *ngIf="num_ins?.errors?.['min']" class="text-danger">
                                    Le num doit comporter au moins 8 caractères.
                                </small>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Identity Details</span>



                    <div class="fields">


                        <div class="input-field">
                            <label>Nature de baccalauréat</label>
                            <select formControlName="nature_bac">
                                <option value="" selected hidden>Select Bac</option>
                                <option>Bac Info</option>
                                <option>Bac Technique</option>
                                <option>Bac Science</option>
                                <option>Bac Economié</option>
                                <option>Bac Mathe</option>
                            </select>
                            <div *ngIf="nature_bac?.invalid && (nature_bac?.dirty || nature_bac?.touched)">
                                <small *ngIf="nature_bac?.errors?.['required']" class="text-danger">
                                    Nature de bac est obligatoire.
                                </small>
                            
                            </div>
                        </div>


                        <div class="input-field">
                            <label>Année de baccalauréat</label>
                            <input type="number" placeholder="Entrer l'année de baccalauréat" 
                                formControlName="annee_bac">
                                <div *ngIf="annee_bac?.invalid && (annee_bac?.dirty || annee_bac?.touched)">
                                    <small *ngIf="annee_bac?.errors?.['required']" class="text-danger">
                                        Année de bac est obligatoire.
                                    </small>
                                    <small *ngIf="annee_bac?.errors?.['max']" class="text-danger">
                                        Année de bac entre 2015 et 2021.
                                    </small>
                                    <small *ngIf="annee_bac?.errors?.['min']" class="text-danger">
                                        Année de bac entre 2015 et 2021.
                                    </small>
                                
                                </div>
                        </div>

                        <div class="input-field">
                            <label>Classe</label>
                            <input type="text" placeholder="Enter la Classe" formControlName="classe">
                            <div *ngIf="classe?.invalid && (classe?.dirty || classe?.touched)">
                                <small *ngIf="classe?.errors?.['required']" class="text-danger">
                                    Le classe est obligatoire.
                                </small>
                                <small *ngIf="classe?.errors?.['pattern']" class="text-danger">
                                    Le classe est inccorect.
                                </small>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Groupe</label>
                            <input type="text" placeholder="Enter le groupe" formControlName="groupe">
                            <div *ngIf="groupe?.invalid && (groupe?.dirty || groupe?.touched)">
                                <small *ngIf="groupe?.errors?.['required']" class="text-danger">
                                    Le groupe est obligatoire.
                                </small>
                                <small *ngIf="groupe?.errors?.['pattern']" class="text-danger">
                                    Le groupe est inccorect.
                                </small>
                            </div>
                        </div>


                    </div>

                    <button class="sumbit">
                        <span class="btnText">Créer un compte</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>