<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Espace Etudiant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

            <a *ngIf="!studentSerive.isLoggedInStudent" class="btn btn-primary my-2 my-sm-0" type="submit"
                routerLink="register-student">register</a>
            <a *ngIf="!studentSerive.isLoggedInStudent" class="btn btn-info my-2 mx-3" type="submit" routerLink="auth-student">login</a>

            <a *ngIf="studentSerive.isLoggedInStudent" class="btn btn-info my-2 mx-3" type="submit" href="">
                <i class="bi bi-person-circle"></i>
                {{studentData.firstname}} {{studentData.lastname}}
            </a>
            <button *ngIf="studentSerive.isLoggedInStudent" class="btn btn-danger my-2 mx-3" type="submit" (click)="logout()">
                <i class="bi bi-box-arrow-in-right"></i>
                Se déconnecter

            </button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>