<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> Liste des Messages Envoyées</h1>
    </div>

</div>
<div class="col ml-2">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"> Liste des Messages</h6>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nom </th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listContactAdmin">
                        <td class="align-middle">{{item.id_contact}}</td>

                        <td class="align-middle">{{item.name}}</td>
                        <td class="align-middle">{{item.email}}</td>
                        <td class="align-middle">{{item.message}}</td>
                        <td class="align-middle">
                            <button class="btn btn-sm btn-danger" (click)="delete(item)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div *ngIf="listContactAdmin.length == 0" class="alert alert-warning">Aucun Message trouvé</div>

        </div>
    </div>
</div>