<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nouveautés </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Départements
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Génie électrique</a>
                        <a class="dropdown-item" href="#">Génie mécanique</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">d'Administration des Affaires</a>
                        <a class="dropdown-item" href="#">Technologies de l'Informatique</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link " routerLink="about" tabindex="-1">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="contact" tabindex="-1">Contact</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-primary mx-3" routerLink="/student">Espace Etudiant </a>
                <a class="btn btn-outline-primary" routerLink="/teacher">Espace Ensiegnant </a>
            </form>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>