<section id="hero">
    <div class="inner-banner">

    </div>
</section>
<section class="main-section">

    <div class="faqs">
        <div class="container">
            <div class="row">
                <div class="section-title col-12">
                    <h2><span>Consultation des documents : </span></h2>
                    <p>Consultation les documents des stages </p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-lg-12">
                    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="false"
                                        aria-controls="collapseOne_1">Guide de Stage d'initiation</a>
                                </h4>
                            </div>
                            <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne_1">
                                <div class="panel-body">
                                    <li><a href="./../../../../../../assets/front/pdf/PG_Stage.doc" target="-blank">
                                            Modèle de page de garde
                                        </a></li>
                                    <li><a href="./../../../../../../assets/front/pdf/Template_RAPPORT_initiation_ISETJ.docx.pdf"
                                            target="-blank">Rapport </a></li>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingTwo_1">
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion_1" href="#collapseTwo_1" aria-expanded="false"
                                        aria-controls="collapseTwo_1">Guide de Stage de perfection</a>
                                </h4>
                            </div>
                            <div id="collapseTwo_1" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo_1">
                                <div class="panel-body">
                                    <li><a href="./../../../../../../assets/front/pdf/PG_Stage.doc" target="-blank">
                                            Modèle de page de PFE
                                        </a></li>
                                    <li><a href="./../../../../../../assets/front/pdf/Template_RAPPORT_technicien_ISETJ.docx.pdf"
                                            target="-blank">Rapport </a></li>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion_1" href="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseTwo_1">Guide de Stage de PFE</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <li><a href="./../../../../../../assets/front/pdf/PG_Stage.doc" target="-blank">
                                            Modèle de page de garde
                                        </a></li>
                                    <li><a href="docs/dem_all_fam.pdf" target="-blank">Rapport </a></li>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>