<section id="hero">
    <div class="inner-banner" style="background-image:url(./../../../../../../assets/front/images/banner-gallery.jpg)">
        <div class="container">
            <h3 class="title"><br><strong>album des photos</strong></h3>
        </div>
    </div>
</section>

<section class="main-section">

    <div class="img-gallery">
        <div class="container">
            <div class="row">
                <div class="section-title col-12">
                    <h2><span>Voir</span> notre meilleure Galerie</h2>
                    <p>Description text here...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="popup-gallery">
                        <a class="popup2" href="./../../../../../../assets/front/images/gallery/Salon.jpg"> <img
                                src="./../../../../../../assets/front/images/gallery/Salon.jpg"  alt="pic"><span
                                class="eye-wrapper"><i class="zmdi zmdi-eye"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="popup-gallery">
                        <a class="popup2" href="./../../../../../../assets/front/images/gallery/isetj.jpg"><img
                                src="./../../../../../../assets/front/images/gallery/isetj.jpg"  alt="pic"><span
                                class="eye-wrapper"><i class="zmdi zmdi-eye"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="popup-gallery">
                        <a class="popup2"
                            href="./../../../../../../assets/front/images/gallery/jendouba-conect.jpg"><img
                                src="./../../../../../../assets/front/images/gallery/jendouba-conect.jpg"
                                alt="pic"><span class="eye-wrapper"><i class="zmdi zmdi-eye"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="popup-gallery">
                        <a class="popup2" href="./../../../../../../assets/front/images/gallery/iset01.jpg"><img
                                src="./../../../../../../assets/front/images/gallery/iset01.jpg" alt="pic"><span class="eye-wrapper"><i
                                    class="zmdi zmdi-eye"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="popup-gallery">
                        <a class="popup2" href="./../../../../../../assets/front/images/gallery/iset02.jpg"><img
                                src="./../../../../../../assets/front/images/gallery/iset02.jpg" alt="pic"><span class="eye-wrapper"><i
                                    class="zmdi zmdi-eye"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="popup-gallery">
                        <a class="popup2" href="./../../../../../../assets/front/images/gallery/iset.jpg"><img
                                src="./../../../../../../assets/front/images/gallery/isetj.jpg" alt="pic"><span class="eye-wrapper"><i
                                    class="zmdi zmdi-eye"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>