<div class="body">

    <div class="container">
        <header>Créer un compte</header>

        <form [formGroup]="registerForm" (submit)="registerTeacher()">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label>Nom</label>
                            <input type="text" placeholder="Entrer votre nom" formControlName="lastname">
                            <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                                <small *ngIf="lastname?.errors?.['required']" class="text-danger">
                                    Le nom est obligatoire.
                                </small>
                                <small *ngIf="lastname?.errors?.['pattern']" class="text-danger">
                                    Le nom est inccorect
                                </small>
                          
                                <small *ngIf="lastname?.errors?.['minlength']" class="text-danger">
                                    Le nom doit comporter au moins 4 caractères.
                                </small>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Prénom</label>
                            <input type="text" placeholder="Entrer votre prenom" formControlName="firstname">
                            <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                                <small *ngIf="firstname?.errors?.['required']" class="text-danger">
                                    Le prenom est obligatoire.
                                </small>
                                <small *ngIf="firstname?.errors?.['pattern']" class="text-danger">
                                    Le nom est inccorect
                                </small>
                                <small *ngIf="firstname?.errors?.['minlength']" class="text-danger">
                                    Le nom doit comporter au moins 4 caractères.
                                </small>
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Adresse email</label>
                            <input type="text" placeholder="Entrer l'adresse email" formControlName="email">
                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                <small *ngIf="email?.errors?.['required']" class="text-danger">
                                     email est obligatoire.
                                </small>
                                <small *ngIf="email?.errors?.['email']" class="text-danger">
                                    email est inccorect.
                                </small>
                             
                            </div>
                        </div>

                        <div class="input-field">
                            <label>Numéro de téléphone</label>
                            <input type="number" placeholder="Entrer le numéro de téléphone" formControlName="num_tel">
                            <div *ngIf="num_tel?.invalid && (num_tel?.dirty || num_tel?.touched)">
                                <small *ngIf="num_tel?.errors?.['required']" class="text-danger">
                                le numéro de téléphone est obligatoire.
                                </small>
                                <small *ngIf="num_tel?.errors?.['max']" class="text-danger">
                                    le numéro de téléphone doit comporter au moins 8 caractères.
                                </small>
                                <small *ngIf="num_tel?.errors?.['min']" class="text-danger">
                                    le numéro de téléphone doit comporter au moins 8 caractères.
                                </small>

                            </div>
                        </div>


                        <div class="input-field">
                            <label>Carte d'identité</label>
                            <input type="text" placeholder="Entrer le Carte d'identité" formControlName="cin">
                            <div *ngIf="cin?.invalid && (cin?.dirty || cin?.touched)">
                                <small *ngIf="cin?.errors?.['required']" class="text-danger">
                                    Le cin est obligatoire.
                                </small>
                                <small *ngIf="cin?.errors?.['max']" class="text-danger">
                                    Le cin doit comporter au moins 8 caractères.
                                </small>
                                <small *ngIf="cin?.errors?.['min']" class="text-danger">
                                    Le cin doit comporter au moins 8 caractères.
                                </small>

                            </div>
                        </div>


                        <div class="input-field">
                            <label>Numéro de Matricule</label>
                            <input type="number" placeholder="Entrer le numéro de matricule"
                                formControlName="matricule">

                        </div>




                    </div>
                </div>

                <div class="details ID">



                    <div class="fields">


                        <div class="input-field">
                            <label>Département</label>
                            <select formControlName="departement">
                                <option value="" selected hidden>Choisir un département</option>

                                <option>Génie électrique</option>
                                <option>Génie mécanique</option>
                                <option>Administration des Affaires</option>
                                <option>Technologies de l'Informatique</option>
                            </select>
                            <div *ngIf="departement?.invalid && (departement?.dirty || departement?.touched)">
                                <small *ngIf="departement?.errors?.['required']" class="text-danger">
                                    Choisir un département
                                </small>
                            
                            </div>
                        </div>


                        <div class="input-field">
                            <label>Grade</label>
                            <input type="text" placeholder="Enter la grade" formControlName="grade">

                        </div>
                        <div class="input-field">
                            <label>RIB</label>
                            <input type="number" placeholder="Entrer le RIB" formControlName="rib">
                        </div>






                    </div>

                    <button class="sumbit">
                        <span class="btnText">Créer un compte</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>