<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion des étudiants</h1>
    </div>

</div>
<div class="col ml-2">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"> Listes des étudiants</h6>
        </div>

        <div class="card-body">

            <table class="table">
                <thead>
                    <tr>
                        <th>Cin</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>date de naissance</th>
                        <th>Classe</th>
                        <th>groupe</th>
                        <th>Nature de Bac</th>
                        <th>anneé de Bac</th>

                        <th>État du compte</th>
                        <th>#</th>
                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let student of listStudent">
                        <td class="align-middle">{{student.cin}}</td>
                        <td class="align-middle">{{student.lastname}}</td>
                        <td class="align-middle">{{student.firstname}}</td>
                        <td class="align-middle">{{student.date}}</td>
                        <td class="align-middle">0{{student.classe}}</td>
                        <td class="align-middle">{{student.groupe}}</td>

                        <td class="align-middle">{{student.nature_bac}}</td>


                        <td class="align-middle">
                            <div class="badge badge-pill badge-success">{{student.accountState}}</div>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-sm btn-dark mx-2">
                                <i class="fas fa-user-lock"></i>
                            </button>
                            <button class="btn btn-sm btn-danger  mx-2" (click)="deleleStudent(student)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>

            </table>
            <div *ngIf="listStudent.length == 0" class="alert alert-warning">Aucun étudiant trouvé</div>

        </div>
    </div>
</div>